.btn {
  position: relative;
  margin: 15px;
  padding: 10px;
  vertical-align: middle; 
  text-align: center; 
  box-sizing: border-box;
  align-items: center; 
  justify-content: center;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-family: Roboto,sans-serif;
  font-weight: 400;
  font-size: 24px;
  background-color: #faeaea;
  color: white;
  cursor: pointer;
}

.btn-primary {
  color: #ef3939;
  text-transform: uppercase;
  font-weight: 600;
}

.btn-secondary {
  color: black;
  text-transform: uppercase;
  font-weight: 600;
}

.btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

