.product-card {
    max-width: 210px;
    margin-bottom: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 4px 4px 0px rgba(0,0,0,0.3);
    overflow: hidden;

    .image-wrapper {
        position: relative;
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 2px 4px 4px 0px rgba(0,0,0,0.3);
    }

    & img {
        max-width: 300px;
        min-height: 190px;
    }

    & img:hover {
        transform: scale(1.2);
        transition: transform 0.8s;
    }


    .product-name {
        height: 40px;
        margin: 0 15px 10px;
        font-size: 16px;
    }

    .card-footer {
        margin-bottom: 10px;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: end;

        .add-favorite {
            margin-bottom: 10px;
            margin-left: 15px;
            padding: 0;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 50%;
            border: 1.5px solid #dddddd;

            &:hover {
                background-color: #dddddd; 
                border-radius: 60px;
                transform: scale(1.2);
                transition: transform 0.25s;
            }
            &icon :hover {
                color: yellow;

            }
        }

        .product-price {
            width: 100px;
            padding: 5px 10px;
            margin: 0 15px 10px;
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            border-radius: 25px;
            color: #fff;
            background-color: #ef3979;
            border: 1px solid #ef3979;
        }
        .product-price:hover {
            transition: 0.7s;
            background-color: #fff;
            color: #ef3979;
            font-weight: bolder;
        }
    }

    .add-to-cart {
        margin: 0 15px 15px;
        width: 180px;
        height: 30px;
        font-size: 12px;
        font-weight: 600;
        color: #ef3939;
        border-radius: 25px;
        border: 1.5px solid #ef3939;

        &:hover {
            background-color: #ef3939;
            border-radius: 30px;
            transform: scale(1.1);
            transition: transform 0.4s;
            color: white;
            border: 1.5px solid white;
        }
    } 

    .add-remove-btn__wrapper {
        margin-bottom: 15px;
        width: 180px;
        height: 30px;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .minus-from-cart,
        .plus-to-cart {
            width: 40px;
            height: 100%;
            margin: 0 15px;
            padding: 0;
            font-size: 24px;
            background-color: #ef3939;
        }

        .minus-from-cart:hover,
        .plus-to-cart:hover {
            transform: scale(1.1);
            transition: 0.2s;
        }
        .quantity-product {
            width: 30px;
            height: 100%;
            color: #ff0000;
            padding-left: 20px;
            font-weight: bold;
        }
    }
}