.cart {
  height: calc(100vh - 130px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 30px;

  &__wrapper {
    width: 550px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    width: 350px;
    font-weight: bolder;
  }

  &__total {
    font-weight: bolder;
    font-size: larger;
  }
}
