#root {
  width: 100%;
  background-color: rgb(239, 226, 230);
}

.container {
  width: 1200px;
}

.app-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}






